/**************** Media-queries **********************/

/***************** Smartphone version portrait ***********************/

@media screen and (max-width: 667px) {
  .sign_up {
    position: absolute;
    top: 47px;
    right: 0px;
  }

  .sign_up :hover {
    border-bottom: none;
  }

  nav {
    flex-wrap: wrap;
  }

  nav li {
    margin: 0;
  }

  nav a {
    border-top: none;
  }

  .menu_hosting {
    width: 50%;
    padding-top: 20px;
    margin-right: 25px;
    padding-bottom: 15px;
  }

  .menu_activites {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  nav ul {
    border-bottom: 4px solid #f2f2f2;
  }

  nav a:hover {
    border-top: none;
  }

  .menu_hosting:hover {
    border-bottom: 4px solid #0065fc;
  }

  .menu_activites:hover {
    border-bottom: 4px solid #0065fc;
  }

  h1 {
    font-size: 1.5em;
  }
  .fa-map-marker-alt {
    border-radius: 14px 0px 0px 14px;
    width: 20px;
    height: 20px;
    padding: 17px;
  }
  .search {
    margin: 20px;
  }

  .search p {
    margin-bottom: 10vw;
  }

  .form {
    width: 90%;
  }

  .btn_search {
    display: none;
  }

  .city {
    width: 48vw;
    border-right: none;
  }

  .btn_icon {
    display: unset;
    background-color: #0065fc;
    color: white;
    padding: 18px;
    border-radius: 15px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
  }

  .logo_filters {
    margin-right: 10px;
  }

  .filters li {
    margin-left: 5px;
  }

  h3 + ul {
    justify-content: flex-start;
  }

  #hosting {
    flex-direction: column-reverse;
  }

  .most_popular {
    width: 100%;
    border-radius: 0;
    padding-bottom: 15px;
  }

  .title_most_popular {
    padding-left: 0;
  }

  .hotel_2 {
    width: 80%;
    height: 40vw;
  }

  .hotel_2 img {
    width: 30vw;
    height: 40vw;
  }

  .hosting_marseille {
    width: 100%;
    background-color: white;
  }

  .first_hotel,
  .second_hotel {
    flex-direction: column;
    margin: 5px;
  }

  .hosting_marseille h2 {
    padding-left: 20px;
  }

  .hosting_marseille article {
    width: 85%;
    height: 52vw;
    margin: 10px;
    margin-left: 20px;
  }

  .hosting_marseille img {
    width: 100%;
    height: 30vw;
  }

  .view_more {
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #activities {
    margin: 20px;
  }

  .activities {
    flex-direction: column;
  }

  .activities img {
    width: 100%;
    height: 150px;
  }

  .activities article {
    height: auto;
    margin: 10px;
    width: 80vw;
  }

  #activities h2 {
    margin-left: 18px;
  }

  footer {
    flex-direction: column;
  }

  .footer_list {
    width: 80%;
  }
}
