/**************** Media-queries **********************/
/********************* tablette portrait ********************/

@media screen and (min-width: 380px) and (max-width: 769px) {
  .sign_up {
    position: absolute;
    top: 47px;
    right: 0px;
  }

  .sign_up :hover {
    border-bottom: none;
  }

  nav {
    flex-wrap: wrap;
  }

  nav li {
    margin: 0;
  }

  nav ul {
    width: 100%;
    padding: 0;
    border-bottom: 4px solid #f2f2f2;
    text-align: center;
  }

  .menu_hosting {
    width: 50%;
    padding-top: 60px;
    margin-right: 0;
    padding-bottom: 15px;
  }

  .menu_activites {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .menu_hosting:hover {
    border-bottom: 4px solid #0065fc;
  }

  .menu_activites:hover {
    border-bottom: 4px solid #0065fc;
  }

  nav a:hover {
    border-top: none;
  }

  .form {
    width: 90%;
  }

  .btn_search {
    display: none;
  }

  .city {
    width: 48vw;
  }

  .btn_icon {
    display: unset;
    width: 50px;
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 15px;
    border-right: none;
    margin-left: -10px;
  }

  #hosting {
    flex-direction: column-reverse;
    margin: 0;
  }

  .most_popular {
    width: 100%;
    border-radius: 0;
    padding-bottom: 15px;
  }

  .most_popular a {
    margin-top: 30px;
  }

  .most_popular h3 {
    font-size: 1.5em;
  }

  .most_popular p {
    padding-top: 20px;
  }
  .hotel_2 {
    width: 85%;
    height: 30vw;
  }

  .hotel_2 img {
    width: 30vw;
    height: 30vw;
  }

  .hosting_marseille {
    width: 100%;
    background-color: white;
  }

  .first_hotel,
  .second_hotel {
    flex-direction: column;
    margin: 20px;
  }

  .hosting_marseille h2 {
    margin-left: 0px;
  }

  .hosting_marseille article {
    width: 90%;
    height: auto;
    margin: 10px;
    margin-left: 25px;
    padding-bottom: 20px;
  }

  .hosting_marseille img {
    width: 100%;
    height: 27vw;
  }

  .view_more {
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #activities {
    margin: 40px;
  }

  .activities {
    flex-direction: column;
  }

  .activities img {
    width: 100%;
    height: 150px;
  }

  .activities article {
    height: auto;
    width: 85vw;
    margin: 10px;
  }

  footer {
    flex-direction: column;
  }
}
/***************** Smartphone version portrait ***********************/

@media screen and (max-width: 376px) {
  .sign_up {
    position: absolute;
    top: 47px;
    right: 0px;
    padding-bottom: 50px;
  }

  .sign_up :hover {
    border-bottom: none;
  }

  nav {
    flex-wrap: wrap;
    margin: 0;
  }

  nav img {
    padding: 30px;
  }

  nav li {
    margin: 0;
    height: 21px;
  }

  nav a {
    border-top: none;
  }

  .menu_hosting {
    width: 50%;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .menu_activites {
    width: 50%;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  nav ul {
    border-bottom: 3px solid #f2f2f2;
    width: 100%;
    padding: 0;
    height: 30px;
  }

  nav a:hover {
    border-top: none;
  }

  .menu_hosting:hover {
    border-bottom: 3px solid #0065fc;
  }

  .menu_activites:hover {
    border-bottom: 3px solid #0065fc;
  }

  h1 {
    font-size: 1.5em;
    margin: 30px;
  }
  .fa-map-marker-alt {
    border-radius: 14px 0px 0px 14px;
    width: 10px;
    height: 20px;
    padding: 17px;
  }
  .search {
    margin: 0;
  }

  .search p {
    margin-bottom: 10vw;
    margin: 30px;
  }

  .form {
    width: 90%;
    height: 54px;
    margin: 20px 0 20px 30px;
  }

  .btn_search {
    display: none;
  }

  .city {
    width: 48vw;
    border-right: none;
  }

  .btn_icon {
    display: unset;
    background-color: #0065fc;
    color: white;
    padding: 15px;
    border-radius: 0 15px 15px 0;
  }

  /**** filtres ****/

  .filters {
    display: flex;
    flex-wrap: wrap;
  }

  .logo_filters {
    margin-right: 10px;
  }

  .filters h3 {
    margin: 0;
    margin-left: 30px;
  }
  .filters li {
    margin-left: 5px;
  }

  .filters ul {
    margin-left: 18px;
    padding: 0;
  }

  .info {
    margin-top: 30px;
    margin: 30px;
  }

  .info p {
    font-size: 0.9em;
    margin-left: 0px;
  }

  /**** Hébergements et les plus populaires ****/

  #hosting {
    flex-direction: column-reverse;
    margin: 0;
  }

  .most_popular {
    width: 100%;
    border-radius: 0;
    padding-bottom: 15px;
  }

  .title_most_popular {
    padding-left: 0;
  }

  .hotel_2 {
    width: 80%;
    height: 40vw;
  }

  .hotel_2 img {
    width: 30vw;
    height: 40vw;
  }

  .hosting_marseille {
    width: 100%;
    background-color: white;
  }

  .first_hotel,
  .second_hotel {
    flex-direction: column;
    margin: 5px;
  }

  .hosting_marseille h2 {
    padding-left: 20px;
  }

  .hosting_marseille article {
    width: 85%;
    height: 52vw;
    margin: 10px;
    margin-left: 20px;
  }

  .hosting_marseille img {
    width: 100%;
    height: 30vw;
  }

  .view_more {
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #activities {
    margin: 20px;
  }

  .activities {
    flex-direction: column;
  }

  .activities img {
    width: 100%;
    height: 150px;
  }

  .activities article {
    height: auto;
    margin: 10px;
    width: 80vw;
  }

  #activities h2 {
    margin-left: 18px;
  }

  footer {
    flex-direction: column;
  }

  .footer_list {
    width: 80%;
  }
}
