body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/************header*****************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 60px;
}

nav a {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 3px solid white;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

.sign_up a {
  font-weight: bold;
  color: #0065fc;
}

.sign_up a:hover {
  border-top: none;
}

/**************** Recherche ****************/

.search {
  margin: 30px;
}

.form {
  display: flex;
  margin: 20px 0px 20px 0;
}

.fa-map-marker-alt {
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  margin-left: 30px;
}

.city {
  padding: 15px;
  font-weight: bold;
  border-right: none;
  border: 2px solid #f2f2f2;
  font-size: 1rem;
}

.btn_search {
  padding: 15px;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 0 15px 15px 0;
}

/*************Filters**************/
.filters {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.filters ul {
  display: flex;
  list-style-type: none;
}

.filters li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  border: 3px solid #f2f2f2;
  border-radius: 200px;
  padding: 0px 20px 0 0;
  margin-right: 20px;
}

.logo_filters {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 200px;
  padding: 15px;
  margin-right: 20px;
}

.filters li:hover {
  border: 3px solid #0065fc;
}

.info p {
  display: inline;
}

.fa-info {
  border: 3px solid #f2f2f2;
  color: #0065fc;
  border-radius: 100%;
  padding: 5px 10px 5px 10px;
  margin: 20px 15px 0px 30px;
}

/************** Hébergements à Marseille ***************/
.main_hosting {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.hosting_marseille {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 60%;
  height: 60%;
}

.hosting_marseille h2 {
  padding-left: 40px;
  margin-top: 40px;
}

.hosting_marseille article {
  background-color: white;
  border: 4px solid transparent;
  box-shadow: 1px 1px 15px #d1d1d1;
  border-radius: 20px;
  margin: 0 20px 0 20px;
  width: 40%;
  height: 220px;
}

.first_hotel,
.second_hotel {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.hotel img {
  width: 100%;
  height: 125px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.hotel h3 {
  margin: 5px 0 0 10px;
}

.hotel p {
  margin: 5px 0px 5px 10px;
}

.stars {
  margin-left: 10px;
}

.full {
  color: #0065fc;
}

.empty {
  color: #d9d9d9;
}

.view_more {
  font-size: 1.3em;
  font-weight: bold;
  padding: 20px 0 50px 40px;
}

/***************** Les plus populaires *******************/

.most_popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 30%;
  padding-bottom: 30px;
}

.title_most_popular {
  width: 80%;
  padding-left: 30px;
  margin-top: 20px;
}

.hotel_2 {
  background-color: white;
  border: 4px solid transparent;
  border-radius: 20px;
  width: 90%;
  height: 150px;
}

.hotel_2 img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
