body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/********************** Header ****************************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 60px;
}

nav a {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 44px;
  padding-bottom: 44px;
  border-top: 3px solid white;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

.sign_up a {
  font-weight: bold;
  color: #0065fc;
}

.sign_up a:hover {
  border-top: none;
}

/******************** Recherche********************/

.search {
  margin: 50px;
}

.form {
  display: flex;
  width: 30vw;
  margin: 20px 0 20px 0;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px 0 0 15px;
}

.city {
  padding: 15px;
  font-weight: bold;
  border-right: none;
  border: 2px solid #f2f2f2;
  height: 53px;
  font-size: 1rem;
}

.btn_search {
  color: white;
  font-weight: bold;
  padding: 15px;
  background-color: #0065fc;
  border: none;
  border-radius: 0 15px 15px 0;
}

.btn_icon {
  display: none;
}
/********************** Filters ******************/

.filters {
  display: flex;
  align-items: center;
}

h3 + ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.filters li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 200px;
  font-weight: bold;
  padding: 0 20px 0 0;
  margin-top: 10px;
  margin-left: 25px;
}

.logo_filters {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 200px;
  padding: 15px;
  margin-right: 25px;
}

.filters li:hover {
  border: 2px solid #0065fc;
  background-color: #deebff;
  font-style: italic;
}

.info p {
  display: inline;
}

.info .fas {
  color: #0065fc;
  border: 3px solid #f2f2f2;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 16px;
  padding: 7px 11px 7px 11px;
}

/********************* Hébergements à Marseille ***********************/

.main_hosting {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.hosting_marseille {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 60%;
}

.hosting_marseille h2 {
  padding-left: 40px;
  margin-top: 40px;
}

.hosting_marseille article {
  background-color: white;
  border: 4px solid transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
  width: 30%;
  height: 13.5vw;
}

.first_hotel,
.second_hotel {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.hotel img {
  width: 100%;
  height: 8vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.hotel h3 {
  margin: 5px 0 0 10px;
}

.hotel p {
  margin: 2px 0 5px 10px;
}

.stars {
  margin-left: 10px;
}

.full {
  color: #0065fc;
  margin: 0;
}

.empty {
  color: #e2e2e2;
  margin: 0;
}

.view_more {
  padding-left: 40px;
  padding-top: 20px;
}

/********************* Les plus populaires ************************/

.most_popular {
  width: 32%;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.title_most_popular {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  margin-top: 20px;
}

.hotel_2 {
  background-color: white;
  border: 4px solid transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
  width: 72%;
  height: 10vw;
  margin: 15px;
  display: flex;
}

.hotel_2 img {
  width: 9vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.hotel_2 h3 {
  margin: 7px 0 4px 15px;
}

.hotel_2 p {
  margin: 2px 0 5px 15px;
}

.stars_popular {
  margin: 45px 10px 0 15px;
}

/************************ Activités**********************/

#activities {
  margin: 35px;
  margin-top: 50px;
  margin-bottom: 45px;
}

#activities h2 {
  margin-left: 25px;
}

.activities article {
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
}

.activities {
  display: flex;
  justify-content: space-around;
}

.vieux_port img {
  width: 22vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.parc_national img {
  width: 22vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.fort img {
  width: 20vw;
  height: 11vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.iles img {
  width: 20vw;
  height: 11vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.basilique img {
  width: 20vw;
  height: 11vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.parc_longchamp img {
  width: 20vw;
  height: 11vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activities h3 {
  margin-left: 20px;
}

.small_images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/************************** Footer *************************/

footer {
  background-color: #f2f2f2;
  display: flex;
  padding-bottom: 30px;
  padding-top: 18px;
}

footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.footer_list {
  width: 50%;
  margin-left: 50px;
}

footer li {
  padding: 5px;
}

footer h3 {
  margin-left: 5px;
}

/**************** Media-queries **********************/

/***************** Smartphone version portrait ***********************/

@media screen and (max-width: 667px) {
  .sign_up {
    position: absolute;
    top: 47px;
    right: 0px;
  }

  .sign_up :hover {
    border-bottom: none;
  }

  nav {
    flex-wrap: wrap;
  }

  nav li {
    margin: 0;
  }

  nav a {
    border-top: none;
  }

  .menu_hosting {
    width: 50%;
    padding-top: 20px;
    margin-right: 25px;
    padding-bottom: 15px;
  }

  .menu_activites {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  nav ul {
    border-bottom: 4px solid #f2f2f2;
  }

  nav a:hover {
    border-top: none;
  }

  .menu_hosting:hover {
    border-bottom: 4px solid #0065fc;
  }

  .menu_activites:hover {
    border-bottom: 4px solid #0065fc;
  }

  h1 {
    font-size: 1.5em;
  }
  .fa-map-marker-alt {
    border-radius: 14px 0px 0px 14px;
    width: 20px;
    height: 20px;
    padding: 17px;
  }
  .search {
    margin: 20px;
  }

  .search p {
    margin-bottom: 10vw;
  }

  .form {
    width: 90%;
  }

  .btn_search {
    display: none;
  }

  .city {
    width: 48vw;
    border-right: none;
  }

  .btn_icon {
    display: unset;
    background-color: #0065fc;
    color: white;
    padding: 18px;
    border-radius: 15px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
  }

  .logo_filters {
    margin-right: 10px;
  }

  .filters li {
    margin-left: 5px;
  }

  h3 + ul {
    justify-content: flex-start;
  }

  #hosting {
    flex-direction: column-reverse;
  }

  .most_popular {
    width: 100%;
    border-radius: 0;
    padding-bottom: 15px;
  }

  .title_most_popular {
    padding-left: 0;
  }

  .hotel_2 {
    width: 80%;
    height: 40vw;
  }

  .hotel_2 img {
    width: 30vw;
    height: 40vw;
  }

  .hosting_marseille {
    width: 100%;
    background-color: white;
  }

  .first_hotel,
  .second_hotel {
    flex-direction: column;
    margin: 5px;
  }

  .hosting_marseille h2 {
    padding-left: 20px;
  }

  .hosting_marseille article {
    width: 85%;
    height: 52vw;
    margin: 10px;
    margin-left: 20px;
  }

  .hosting_marseille img {
    width: 100%;
    height: 30vw;
  }

  .view_more {
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #activities {
    margin: 20px;
  }

  .activities {
    flex-direction: column;
  }

  .activities img {
    width: 100%;
    height: 150px;
  }

  .activities article {
    height: auto;
    margin: 10px;
    width: 80vw;
  }

  #activities h2 {
    margin-left: 18px;
  }

  footer {
    flex-direction: column;
  }

  .footer_list {
    width: 80%;
  }
}
